%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %a.navbar-brand{:href => "#{root_url}"} Brand
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#{games_path}"} Games
        - if user_signed_in?
          %li
            = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'ログイン', new_user_session_path

